{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block active-rooms %}active{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="">
    <h1 class="display-5 fw-bold">Пространства</h1>
  </div>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-3">
    {% for room in rooms %}
    <a class="col text-decoration-none" href="/booking/{{ room.id }}">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
      style="background: url('{{ room.image }}') no-repeat center center / cover;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 backdrop-brightness">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{ room.name }}</h3>
          <ul class="d-flex list-unstyled mt-auto justify-content-between">
            <li class="">
              <small>{{ room.open_time|time:"H:i" }} – {{ room.close_time|time:"H:i" }}</small>
            </li>
            <li class="">
              {% if room.timebreak %}
              <small>перерыв {{ room.timebreak|format_duration }}</small>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}